<h2>Velg type bukse</h2>

<div class="row marketing">
  <div class="col-lg-6">
    <a href="/order">
      <img src="/images/jeans.jpg" class="img-circle" width="250" height="200">
    </a>
    <h2>Jeans</h2>
  </div>

  <div class="col-lg-6">
    <a href="/order">
      <img src="/images/suit.jpg" class="img-circle" width="250" height="200">
    </a>
    <h2>Suit</h2>
  </div>
</div>
