<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/javascript.js"></script>


</head>
<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="/">Home</a></li>
          <li role="presentation"><a href="/kart">Kart</a></li>
          <li role="presentation"><a href="/about">About</a></li>
        </ul>
      </nav>
      <h1 class="text-muted">Vu's Shop</h1>
    </div>


    {{{body}}}

    <footer class="footer">
      <p>Kontakt oss email: </p>
    </footer>

  </div> <!-- /container -->


</body>
</html>
