<h3>Bestillingsskjema</h3>

<form method="post" action="/order">
   <div class="form-group">
    <label>Navn</label>
    <input type="text" class="form-control" placeholder="Navn" name="navn">
  </div>
  <div class="form-group">
    <label>Telefonnummer</label>
    <input type="text" class="form-control" placeholder="TlfNr" name="tlfNr">
  </div>
   <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" name="email">
  </div>
  <div class="form-group">
    <label>Beskrivelse</label>
    <input type="text" class="form-control" placeholder="Beskrivelse" name="beskrivelse">
  </div>
  <button type="submit" class="btn btn-default">Neste</button>
</form>
